body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(#3fa9f5, #1e90ff);
  height: 100vh;
}

.hidden { display: none; }

#login-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-screen input, button {
  margin: 5px;
  padding: 10px;
  width: 200px;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, nav {
  display: flex;
  justify-content: space-around;
  background: #0b5ed7;
  color: white;
  padding: 10px;
}

section {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.mission {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
}

.mission button {
  background: green;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
}

#level-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}
